.grid-container{
    display: grid;
    grid-gap:  20px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 200px);
    height: 700px;
    /*Alinea horizontalmente*/
    justify-content: space-evenly;

    /*Alinea verticalmente*/
    align-content: end;
}

.grid-container .item{
    background: yellow;
    justify-self: stretch;
    align-self: stretch;
    
}